{% extends'baseBack.html.twig' %}
{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">

        <form method="post" action="{{"reclamation_tri"}}">
             <label>
		            <select class="form-control" name="type">
			            <option>Croissant</option>
			            <option>Décroissant</option>
			        </select>
		        </label>
		        <input type="submit" class="btn btn-success" value="Trier!" >

  </form>


    <tr>
            <form method="" action="{{"reclamation_search"}}" >
                <label>
                    <input PLACEHOLDER="Search" type="text" name="data" class="form-control">
                </label>
                        <input type="submit" class="btn btn-success" value="FIND" >
            </form>
        </tr>

            <div class="row mt-3">
                <div class="col-lg-11">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Liste des réclamations</h5>
                            <div class="table-responsive">
                                <table class="table table-striped">
        <thead>
            <tr>
                <th>Id réclamation</th>
                <th>Objet</th>
                <th>Description</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id}}</td>
                <td>{{ reclamation.objet }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.etat }}</td>
                <td>
                    <a href="{{ path('reponse_new', {'id_rec': reclamation.id}) }}">repondre <br></a>
                    <a href="{{ path('reclamation_show', {'id_rec': reclamation.id}) }}">consulter</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

    </div>
    </div>
    </div>

    </div>

{% endblock %}
