{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_widget(form.rps, {'attr': {'placeholder': 'Entrer la réponse'}}) }}
<div class="text-center">
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
